### Ansible ###
# Ignora a pasta ansible-venv e todos os arquivos dentro dela
ansible/ansible-venv/

### Terraform ###
# Ignora todas as pastas .terraform dentro da pasta terraform e suas subpastas
terraform/**/.terraform/

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Ignora arquivos de variáveis, como tfvars
*.tfvars
*.tfvars.json

# Ignora arquivos de override
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignora arquivos de configuração do Terraform CLI
.terraformrc
terraform.rc


### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*